/* FOOTER */
@media (max-width:1310px) {
    .rv-footer {
        font-size: 18px;
    }
}

@media (max-width:1000px) {
    .rv-footer {
        font-size: 16px;
    }
}

@media (max-width:900px) {

    .rv-footer {
        font-size: 18px;

        &__container {
            flex-wrap: wrap;
            display: flex;
        }

        &__column {
            min-width: 300px;
        }

        &__column:last-child {
            order: 2;

        }

        &__column:nth-child(2) {
            order: 3;
            width: 60%;
            margin: 30px auto;
        }
    }
}

@media (max-width:700px) {
    main.rv-main {
        margin-top: 100px;
    }

    .rv-footer {
        &__column {
            width: 70% !important;
            margin: 10px auto;

            nav {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 30px 0px 0px 0px;
            }
        }
    }
}

/* HEADER */


@media (max-width:1210px) {
    .hidden-1200px {
        display: none !important;
    }

    .rv-header__menu {
        font-size: 1em;
    }
}

@media (max-width:1040px) {
    .hidden-1040px {
        display: none !important;
    }

    .rv-header__bottom-line {
        font-size: .9em;
    }

    .user-toggle,
    .bvi {
        svg {
            margin: 0;
        }
    }
}

@media (max-width:980px) {
    .hidden-980px {
        display: none !important;
    }

    .rv-header__bottom-line {
        font-size: .8em;
    }

    .rv-header__adress {
        font-size: 1em;
    }
}

@media (max-width:900px) {

    .rv-header__menu {
        ul {
            display: none !important;
        }
    }

    .hidden-900px {
        display: none !important;
    }
}

@media (max-width:800px) {

    .hello-screen {

        .big-logo__words {
            width: auto;
        }

        h1 {
            text-align: left;
            font-size: 2em;
        }

        p {
            font-size: 1em;
            max-width: 90%;

        }

        .big-logo__ball {
            width: 20%;
        }
    }

    .hidden-800px {
        display: none !important;
    }
}

@media (max-width:500px) {
    .light-gray-btn{
        svg{
            padding: 0;
            margin: 0;
        }
    }
    .hello-screen {


        p {
            font-size: .8em;
            max-width: 90%;

        }

        .big-logo__ball {
            min-width: 70px;
            width: 18%;
        }
    }


    .hidden-500px {
        display: none !important;
    }
}

@media (max-width:420px) {
    .hello-screen {

        h1 {
            font-size: 1.5em;
        }

        p {
            font-size: .8em;
            max-width: 95%;

        }
    }

    .rv-header__adress {
        font-size: .8em;
    }

    .hidden-420px {
        display: none !important;
    }
}

@media (max-width:1200px) {
    .mobile-menu {
        font-size: .7em;
    }
}

/*MOBILE MENU*/
@media (max-width:900px) {
    .mobile-menu {
        .rv-footer__column {
            height: auto;
            overflow: hidden;
            position: inherit;
        }

        &__nav,
        &__online,
        &__info {
            height: auto;
            border-left: none;
            border-top: 1px solid var(--borderColor);
            width: 100%;
        }

        ul,
        .rv-footer__container,
        .mobile-menu__online-container {
            width: 60%;
        }

        &__nav {
            border-top: none;
        }

    }
}

@media (max-width:750px) {
    .mobile-menu {

        ul,
        .rv-footer__container,
        ul li {
            width: 95%;
        }
    }
}

/*CARDS*/
@media (max-width:900px) {
    main.rv-main {

        margin-top: 100px;
    }

    main.rv-main {
        padding: 1.2em;
    }

    .rv-small-cards {
        margin: 0;
        flex-direction: column;

        article,
        li {
            div img {
                display: block;
                filter: grayscale(0);
                width: 150%;
                max-width: 150%;
            }

            margin: 10px 0;
            width: 100% !important;
            box-shadow: none;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            h2,
            a {
                display: block;
                width: 100%;
                font-size: 1.5em;
            }

            .wp-block-latest-posts__featured-image {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                width: 30%;
                min-height: 80px;
                margin: 1em 0;
            }

            .wp-block-latest-posts__post-excerpt {
                width: 60%;
                font-size: .8em;
                margin: 1em;
            }

            time {
                font-size: 1em;
            }

        }
    }
}

@media (max-width:600px) {
    .rv-h2 {
        font-size: 1.8em;
    }
    main.rv-main p{
        text-align: justify;
    }
    .wp-block-latest-posts__post-excerpt p{
        text-align: justify;
    }
    .rv-small-cards {

        article,
        li {
            padding: .5em;

            h2,
            a {
                font-size: 1.3em;
            }

            time {
                font-size: .8em;
            }

            .wp-block-latest-posts__post-excerpt {
                width: 65%;
                margin: .1em;
                font-size: .8em;
            }
        }
    }
}

/*PEOPLE*/
@media (max-width: 1100px) {
    .rv-people {
        li {
            .wp-block-latest-posts__featured-image {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (max-width: 800px) {
    a.big-button {
        width: 80%
    }

    .wp-block-embed-youtube {
        width: 100%;
        display: block !important;

        iframe {
            width: 100%;
        }

    }

    .rv-main .rv-h3 {
        font-size: 1.5em;
    }

    .rv-people {
        li {
            margin: 20px auto;
            width: 90%;

            .wp-block-latest-posts__featured-image {
                margin: auto;
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media (max-width: 420px) {
    body {
        padding: 1em 0;
    }

    .rv-people {
        li {
            margin: 20px auto;
            width: 95%;

            .wp-block-latest-posts__featured-image {
                margin: auto;
                width: 200px;
                height: 200px;
            }
        }
    }
}


/*FORMS*/
@media (max-width: 600px) {

    .help-button-container.help-form {
        font-size: 1em;
    }
}





/*SLICK*/

@media (max-width: 900px) {
    .slider-container {
        max-width: calc(90vw);
    }

    .slick-dots {
        font-size: .8em;
    }

    @media (min-height: 900px) {
        .slider-container {
            .slider__item > .rv-h2 {
                display: block;
                font-size: 4em;
                margin: 30px auto;
            }
        }
    
        .slick-arrow {
            top: 1em;
            font-size: .9em;
        }
    
        .slick-dots {
            display: none!important;
        }
        .slick-track{
            margin-top: 50px;
        }
    }
}

@media (max-width: 500px){
    .slider-container {
        .slider__item > .rv-h2 {
            display: block;
            font-size: 4em;
            margin: 30px auto;
        }
    }

    .slick-arrow {
        top: 1em;
        font-size: .9em;
    }

    .slick-dots {
        display: none!important;
    }
    .slick-track{
        margin-top: 50px;
    }
}